/*

:root {
	--base-color-bg: #fff;
	--base-color-fg: #000;
	--base-link-fg: #543fd7;
	--base-link-hover-fg: #00f;
	--base-font-family: 'Roboto', sans-serif;
	--base-headline-font-family: 'Roboto', sans-serif;
	--base-mono-font-family: 'Roboto Mono', monospace;
	--base-accent-fg: #555;
	--base-accent-bg: #ddd;
	--button-primary-bg: #543fd7;
	--button-primary-fg: #fff;
	--button-primary-border: #fff;
	--button-primary-hover-bg: #00f;
	--button-primary-hover-fg: #fff;
	--button-secondary-bg: #5b5b5b;
	--button-secondary-fg: #fff;
	--button-secondary-border: #fff;
	--button-secondary-hover-bg: #000;
	--button-secondary-hover-fg: #fff;
	--button-positive-bg: #00522a;
	--button-positive-fg: #fff;
	--button-positive-border: #fff;
	--button-positive-hover-bg: #0b8200;
	--button-positive-hover-fg: #fff;
	--button-danger-bg: #a00;
	--button-danger-fg: #fff;
	--button-danger-border: #fff;
	--button-danger-hover-bg: #c00;
	--button-danger-hover-fg: #fff;
	--button-ghost-hover-bg: #000;
	--button-ghost-hover-fg: #fff;
	--button-outline-fg: #fff;
	--button-outline-border: #fff;
	--button-outline-hover-bg: #000;
	--button-outline-hover-fg: #fff;
	--form-input-bg: #fff;
	--form-input-fg: #000;
	--form-input-border: #000;
	--form-input-border-focus: #000;
	--form-input-border-error: #a00;
	--form-input-border-error-focus: #c00;
	--form-input-placeholder: #888;
	--form-input-checked-bg: #3182ce;
	--form-input-checked-fg: #fff;
	--nav-bg: #fff;
	--nav-fg: #000;
	--nav-link-fg: black;
	--nav-link-hover-fg: black;
	--nav-font-family: 'Roboto', sans-serif;
	--breadcrumbs-fg: black;
	--breadcrumbs-link-fg: black;
	--breadcrumbs-link-hover-fg: #900;
	--breadcrumbs-font-family: 'Roboto', sans-serif;
	--sidebar-bg: #fff;
	--sidebar-fg: #000;
	--sidebar-link-fg: #543fd7;
	--sidebar-link-hover-fg: #00f;
	--sidebar-link-active-fg: #000;
	--sidebar-link-active-hover-fg: #000;
	--sidebar-font-family: 'Roboto', sans-serif;
	--footer-bg: #fff;
	--footer-fg: #000;
	--footer-link-fg: #543fd7;
	--footer-link-hover-fg: #00f;
	--footer-font-family: 'Roboto', sans-serif;
	--table-bg: #fff;
	--table-fg: #000;
	--table-border: #000;
	--table-header-bg: #fff;
	--table-header-fg: #000;
	--table-header-border: #000;
	--table-row-even-bg: #fff;
	--table-row-even-fg: #000;
	--table-row-even-border: #000;
	--table-row-odd-bg: #fff;
	--table-row-odd-fg: #000;
	--table-row-odd-border: #000;
	--table-footer-bg: #fff;
	--table-footer-fg: #000;
	--table-footer-border: #000;
	--tooltip-bg: #000;
	--tooltip-fg: #fff;
	--modal-bg: #fff;
	--modal-fg: #000;
	--modal-header-bg: #fff;
	--modal-header-fg: #000;
	--modal-header-border: #000;
	--modal-body-bg: #fff;
	--modal-body-fg: #000;
	--modal-body-border: #000;
	--modal-footer-bg: #fff;
	--modal-footer-fg: #000;
	--modal-footer-border: #000;
	--card-bg: #fff;
	--card-fg: #000;
	--card-link-fg: #543fd7;
	--card-link-hover-fg: #00f;
}

*/
